div.gallery-meme-container {
    position: relative;
}

div.gallery-meme-container img {

}

div.gallery-meme-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    display: none;
}

div.gallery-meme-container:hover::before {
    display: block;
    animation: fadeIn 500ms ease;
}

div.gallery-meme-container:hover > div > * {
    display: block !important;
    animation: fadeIn 500ms ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}